<h1> This is the default page that comes up for the path </h1>

<h2> Learning Ruby on the side is difficult </h2>

<%=image_tag 'LooneyTunes.jpg' %>

<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
